{% extends '@App/layoutBase.html.twig' %}


{% block index %}

    <div class="well">
        <table class="table table-hover" id="index">
            <tc><h2>All bets</h2></tc>
            <tr>
                <th>Dota2</th>
            </tr>
            <tr>
                <th>Time</th>
                <th>Match</th>
                <th>Odds</th>
            </tr>
            {% for b in dotaBets %}
                <tr>
                    <td>{{ b.betTime|date('d-m-y H:i:s')}}</td>
                    <td>{{ b.homeTeam.name }} - {{ b.awayTeam.name}}</td>
                    <td>
                        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#a{{ b.id }}" value="{{ b.homeOdds }}">{{ b.homeOdds }}</button>
                        <div class="modal fade" id="a{{ b.id }}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title">Place a bet</h3>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-sm-12">
                                                    <label class="control-label">{{ b.homeTeam.name }} - {{ b.awayTeam.name}}</label>
                                                </div>
                                                <form action="{{ path('create-coupon', {'betId': b.Id}) }}" method="post" class="form-horizontal">
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <label class="control-label">Odds {{ b.homeOdds }}</label>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <input name="bet-amount" type="text" class="form-control col-sm-10" placeholder="Your bet">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <button type="submit" class="btn-success pull-right btn">Place bet</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>

                    <td>
                    <td>
                        <a href="#" class="btn btn-primary" type="button" data-toggle="modal" data-target="#b{{ b.id }}" value="{{ b.awayOdds }}">{{ b.awayOdds }}</a>
                        <div class="modal fade" id="b{{ b.id }}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title">Place a bet</h3>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-sm-12">
                                                    <label class="control-label">{{ b.homeTeam.name }} - {{ b.awayTeam.name}}</label>
                                                </div>

                                                <form action="{{ path('create-coupon', {'betId': b.Id}) }}" method="post" class="form-horizontal">
                                                    <div class="form-group">

                                                        <div class="col-sm-12">
                                                            <label class="control-label">Odds {{ b.awayOdds }}</label>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <input name="bet-amount" type="text" class="form-control col-sm-10" placeholder="Your bet">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <button type="submit" class="btn-success pull-right btn">Place bet</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <th>CSGO</th>
            </tr>
            {% for b in csgoBets %}
                    <tr>
                        <td>{{ b.betTime|date('d-m-y H:i:s')}}</td>
                        <td>{{ b.homeTeam.name }} - {{ b.awayTeam.name}}</td>
                        <td>{{ b.homeOdds}}</td>
                        <td>{{ b.result}}</td>
                        <td>{{ b.awayOdds}}</td>
                    </tr>
            {% endfor %}
        </table>
        </div>
{% endblock %}
{% block js %}
{% endblock %}