<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}eBet{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/app/css/jquery.datetimepicker.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}" />
    <script src="{{ asset('bundles/app/js/jquery.min.js') }}"></script>



</head>
<body>
{% block body %}{% endblock %}

{% block javascripts %}{% endblock %}

    <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jquery.datetimepicker.js') }}"></script>
</body>
</html>
